<md-content landing>
</md-content>
<md-content landing >
  <div class="servicio left">
    <div class="cont-img">
      <img src="../img/E-commerce.jpg"  alt="#" />
    </div>
    <div class="descripcion-servicio">
      <h3>E-commerce</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptae velit esse cillum dolore eu fugiat .</p>
    </div>
    <div class="clear"></div>
  </div>
  <div class="servicio right" >
    <div class="cont-img">
      <img src="../img/Analytics.png" alt="#" />
    </div>
    <div class="descripcion-servicio">
      <h3>Analytics</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptae velit esse cillum dolore eu fugiat .</p>
    </div>
    <div class="clear"></div>
  </div>

  <div class="servicio left">
    <div class="cont-img">
      <img src="../img/E-commerce.jpg"  alt="#" />
    </div>
    <div class="descripcion-servicio">
      <h3>E-commerce</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptae velit esse cillum dolore eu fugiat .</p>
    </div>
    <div class="clear"></div>
  </div>
  <div class="servicio right" >
    <div class="cont-img">
      <img src="../img/Analytics.png" alt="#" />
    </div>
    <div class="descripcion-servicio">
      <h3>Analytics</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptae velit esse cillum dolore eu fugiat .</p>
    </div>
    <div class="clear"></div>
  </div>
</md-content>
<md-content landing layout="row">
  <div analitycs></div>
  <div descripcion>
    <p>Desde nuestra aplicacion podras llevar un control de tus ventas, de cuantas persona visitan el perfil de tu negocio, entre otros muchos reportes para la toma descision</p>
  </div>
</md-content>
<md-content landing layout="row">
  <div analitycs></div>
  <div descripcion>
    <p>Desde nuestra aplicacion podras llevar un control de tus ventas, de cuantas persona visitan el perfil de tu negocio, entre otros muchos reportes para la toma descision</p>
  </div>

</md-content>
<md-content landing>

</md-content>
