<md-content landing>
  <!-- Slider -->
  <div id="slider">
    <div class="slides">
      <div class="slider">
        <div class="legend"></div>
        <div class="content">
          <div class="content-txt">
            <h1>Lorem ipsum dolor</h1>
            <h2>Nam ultrices pellentesque facilisis. In semper tellus mollis nisl pulvinar vitae vulputate lorem consequat. Fusce odio tortor, pretium sit amet auctor ut, ultrices vel nibh.</h2>
          </div>
        </div>
        <div class="image">
          <img src="img/1.jpg">
        </div>
      </div>
      <div class="slider">
        <div class="legend"></div>
        <div class="content">
          <div class="content-txt">
            <h1>Lorem ipsum dolor</h1>
            <h2>Nam ultrices pellentesque facilisis. In semper tellus mollis nisl pulvinar vitae vulputate lorem consequat. Fusce odio tortor, pretium sit amet auctor ut, ultrices vel nibh.</h2>
          </div>
        </div>
        <div class="image">
          <img src="img/2.jpg">
        </div>
      </div>
      <div class="slider">
        <div class="legend"></div>
        <div class="content">
          <div class="content-txt">
            <h1>Lorem ipsum dolor</h1>
            <h2>Nam ultrices pellentesque facilisis. In semper tellus mollis nisl pulvinar vitae vulputate lorem consequat. Fusce odio tortor, pretium sit amet auctor ut, ultrices vel nibh.</h2>
          </div>
        </div>
        <div class="image">
          <img src="img/3.jpg">
        </div>
      </div>
      <div class="slider">
        <div class="legend"></div>
        <div class="content">
          <div class="content-txt">
            <h1>Lorem ipsum dolor</h1>
            <h2>Nam ultrices pellentesque facilisis. In semper tellus mollis nisl pulvinar vitae vulputate lorem consequat. Fusce odio tortor, pretium sit amet auctor ut, ultrices vel nibh.</h2>
          </div>
        </div>
        <div class="image">
          <img src="img/4.jpg">
        </div>
      </div>
    </div>
    <div class="switch">
      <ul>
        <li>
          <div class="on"></div>
        </li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>
</md-content>
<md-content landing >
  <div class="servicio left">
    <div class="cont-img">
      <img src="../img/E-commerce.jpg"  alt="#" />
    </div>
    <div class="descripcion-servicio">
      <h3>E-commerce</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptae velit esse cillum dolore eu fugiat .</p>
    </div>
    <div class="clear"></div>
  </div>
  <div class="servicio right" >
    <div class="cont-img">
      <img src="../img/Analytics.png" alt="#" />
    </div>
    <div class="descripcion-servicio">
      <h3>Analytics</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptae velit esse cillum dolore eu fugiat .</p>
    </div>
    <div class="clear"></div>
  </div>

  <div class="servicio left">
    <div class="cont-img">
      <img src="../img/E-commerce.jpg"  alt="#" />
    </div>
    <div class="descripcion-servicio">
      <h3>E-commerce</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptae velit esse cillum dolore eu fugiat .</p>
    </div>
    <div class="clear"></div>
  </div>
  <div class="servicio right" >
    <div class="cont-img">
      <img src="../img/Analytics.png" alt="#" />
    </div>
    <div class="descripcion-servicio">
      <h3>Analytics</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptae velit esse cillum dolore eu fugiat .</p>
    </div>
    <div class="clear"></div>
  </div>
</md-content>
<md-content landing layout="row">
  <div analitycs></div>
  <div descripcion>
    <p>Desde nuestra aplicacion podras llevar un control de tus ventas, de cuantas persona visitan el perfil de tu negocio, entre otros muchos reportes para la toma descision</p>
  </div>
</md-content>

<md-content landing>

</md-content>
