<md-content landing>
    <ul class="cb-slideshow">
      <li><span>Image 01</span><div><h3>se·ren·i·ty</h3></div></li>
      <li><span>Image 02</span><div><h3>com·po·sure</h3></div></li>
      <li><span>Image 03</span><div><h3>e·qua·nim·i·ty</h3></div></li>
      <li><span>Image 04</span><div><h3>bal·ance</h3></div></li>
      <li><span>Image 05</span><div><h3>qui·e·tude</h3></div></li>
      <li><span>Image 06</span><div><h3>re·lax·a·tion</h3></div></li>
  </ul>
</md-content>
<md-content landing >
  <div class="servicio left">
    <div class="cont-img">
      <img src="../img/E-commerce.jpg"  alt="#" />
    </div>
    <div class="descripcion-servicio">
      <h3>E-commerce</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptae velit esse cillum dolore eu fugiat .</p>
    </div>
    <div class="clear"></div>
  </div>
  <div class="servicio right" >
    <div class="cont-img">
      <img src="../img/Analytics.png" alt="#" />
    </div>
    <div class="descripcion-servicio">
      <h3>Analytics</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptae velit esse cillum dolore eu fugiat .</p>
    </div>
    <div class="clear"></div>
  </div>

  <div class="servicio left">
    <div class="cont-img">
      <img src="../img/E-commerce.jpg"  alt="#" />
    </div>
    <div class="descripcion-servicio">
      <h3>E-commerce</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptae velit esse cillum dolore eu fugiat .</p>
    </div>
    <div class="clear"></div>
  </div>
  <div class="servicio right" >
    <div class="cont-img">
      <img src="../img/Analytics.png" alt="#" />
    </div>
    <div class="descripcion-servicio">
      <h3>Analytics</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptae velit esse cillum dolore eu fugiat .</p>
    </div>
    <div class="clear"></div>
  </div>
</md-content>
<md-content landing layout="row">
  <div analitycs></div>
  <div descripcion>
    <p>Desde nuestra aplicacion podras llevar un control de tus ventas, de cuantas persona visitan el perfil de tu negocio, entre otros muchos reportes para la toma descision</p>
  </div>
</md-content>

<md-content landing>

</md-content>
